.wrap{
    position: absolute;
    left: 35%;
    font-size: 45%
 }
 
 p{
    font-family: Georgia,serif;
    font-weight: normal;
    font-size: 13px;
    text-transform: none;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.8em;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 1.8em;
    text-align: center;
    
    }

h1{
    text-align: center;
}

.socialLinks{
    width: 20%;
    float: right;
}

.footer{
    float: left;
    width: 20%;
    font-family: "Helvetica Neue",Arial,sans-serif;
}