.wrap{
  position: absolute;
  left: 35%;
  font-size: 45%
}
 header{
   background-color:orange;
 }
.hometxt{
    font-family:fantasy ;
    color:black;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    }
.text2{
  font-family:fantasy ;
  color: black;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 10px;
  position: relative;
}


.container{
  background-image: url(..//images/IMG_1641.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
}

.summer-container{
  background-image: url(..//images/IMG_1630.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  height: 700px;

}
.sqs-block-content{
  text-align: center;
}

.sqs-block-button{
  background color: black;
  border-bottom: 2px soild black;
}
