.wrap{
    position: absolute;
    left: 35%;
    font-size: 45%
}


label{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;

}

input {
width: 128%;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
margin-left:190;
margin-bottom: 10;

}

textarea{
width: 691px;
font-family: 'Times New Roman', Times, serif;
font-size: 19px;
float: initial;
margin-left:190;
}
 
button{
margin: -30px 210px; 
position:relative;
top:50%; 
left:50%;
}

.headinng-container{
margin-left:540;
font-size: 36px;
}

.contact-container{
margin-left:650;
font-size: 20px;
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#terms {
  top: 20px;
  background-color: black
}

#shipping {
  top: 80px;
  background-color:black 
}

#returns {
  top: 140px;
  background-color:black 
}

#contact {
  top: 200px;
  background-color: black 
}

#privacy {
  top: 260px;
  background-color:black
}

.socialLinks{
  width: 20%;
  float: right;
}

.footer{
  float: left;
  width: 20%;
}