.wrap{
    position: absolute;
    left: 35%;
    font-size: 45%
}

.headinng-container{
    margin-left:540;
    font-size: 36px;
    margin-top: 10;
    }
    
.contact-container{
    margin-left:250;
    font-size: 20px;
    margin-top: 40;
 }

.page-container{
  font-family:   "Helvetica Neue","Arial",sans-serif;
  font-size: 12px;
  margin-right: 250;
  margin-left: 250;
}

/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #terms {
    top: 20px;
    background-color: black
  }
  
  #shipping {
    top: 80px;
    background-color:black 
  }
  
  #returns {
    top: 140px;
    background-color:black 
  }
  
  #contact {
    top: 200px;
    background-color: black 
  }
  
  #privacy {
    top: 260px;
    background-color:black
  }

  .socialLinks{
    width: 20%;
    float: right;
}

.footer{
    float: left;
    width: 20%;
}